<!DOCTYPE html>
<html>
<head>
    <title>{%- block title -%}Flower Bot{%- endblock title -%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static('main.css') }}">
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/app-icons/731736201400418314/918df3b3669f3d7087c811c69cfee094.png?size=128">
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:description" content="{%- block ogdescription -%}Care for virtual plants right in your Discord server!{%- endblock ogdescription -%}" />
    <meta property="og:image" content="https://cdn.discordapp.com/app-icons/731736201400418314/918df3b3669f3d7087c811c69cfee094.png?size=512" />
    <link rel="manifest" href="{{ static('flower.webmanifest') }}">
    <script data-ad-client="ca-pub-5971485568613064" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0P1FY0JX1V"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-0P1FY0JX1V');
    </script>
</head>
<body {% block bodyattrs -%}{%- endblock -%}>
{%- block navbar -%}
<nav class="navbar" role="navigation" aria-label="main navigation" style="margin-bottom: 15px;">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://cdn.discordapp.com/app-icons/731736201400418314/918df3b3669f3d7087c811c69cfee094.png?size=128" id="navbarBrandImage">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/herbiary">Herbiary</a>
            <a class="navbar-item" href="/commands">Commands</a>
            <a class="navbar-item" href="/flowers">Flowers</a>
            {# <a class="navbar-item" href="/shop">Shop</a> #}
            <a class="navbar-item" href="/donate">Donate</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {%- if session.logged_in -%}
                        <a class="button is-light" href="/logout">Log Out</a>
                        <img src="{{ session.user_info.avatar_url }}?size=128" id="navbarBrandImage">
                    {%- else -%}
                        <a class="button is-light" href="/login">Log In</a>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </div>
</nav>
{%- endblock navbar -%}
{%- block content -%}{%- endblock content -%}
<script type="text/javascript" src="{{ static('navbar.js') }}"></script>
</body>
</html>
