<!DOCTYPE html>
<html>
<head>
    <title>{%- block title -%}Flower Bot{%- endblock title -%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static('main.css') }}">
    <link rel="icon" type="image/png" href="https://cdn.discordapp.com/app-icons/731736201400418314/918df3b3669f3d7087c811c69cfee094.png?size=128">
    <meta name="twitter:card" content="summary" />
    <meta property="og:title" content="{{ self.title() }}" />
    <meta property="og:description" content="{%- block ogdescription -%}Care for virtual plants right in your Discord server!{%- endblock ogdescription -%}" />
    <meta property="og:image" content="https://cdn.discordapp.com/app-icons/731736201400418314/918df3b3669f3d7087c811c69cfee094.png?size=1024" />
</head>
<body>
{%- block navbar -%}{%- endblock navbar -%}
{%- block content -%}{%- endblock content -%}
<script type="text/javascript" src="{{ static('navbar.js') }}"></script>
</body>
</html>
