{% extends "main.j2" %}

{%- block content -%}
<section>
    <div class="container" style="text-align: center;">
        <h1 class="title">Commands</h1>
        <p class="subtitle">There's just a few commands available within Flower, all of which can be run from your DMs.</p>
        <ul>
            <li>
                <code>p.shop</code>
                <ul>
                    <li>Run this to get new plants and more plant pots. After you run this you'll be shown a menu of things you can buy - simply say the name of the item you want.</li>
                </ul>
            </li>
            <li>
                <code>p.water [plant name]</code>
                <ul>
                    <li>Run this to water your plant.</li>
                </ul>
            </li>
            <li>
                <code>p.show &gt;user?&lt; [plant name]</code>
                <ul>
                    <li>Show what one of someone's plants looks like.</li>
                </ul>
            </li>
            <li>
                <code>p.deleteplant [plant name]</code>
                <ul>
                    <li>Delete one of your plants.</li>
                </ul>
            </li>
            <li>
                <code>p.inventory &gt;user?&lt;</code>
                <ul>
                    <li>Show the inventory of a user.</li>
                </ul>
            </li>
            <li>
                <code>p.plants &gt;user?&lt;</code>
                <ul>
                    <li>Show you all of the plants that a user has.</li>
                </ul>
            </li>
        </ul>
    </div>
</section>
{%- endblock content -%}
