{% extends "base.html.j2" %}

{%- block content -%}
<section>
    <div class="container">

        {# Add the user data #}
        {% if session.logged_in %}
            <div class="columns" style="text-align: center;">
                <div class="column is-3 is-offset-3">
                    <h1 class="title">User Experience</h1>
                    <p id="experience" class="subtitle">{{ "{0:,}".format(user.user_experience or 0) }}</p>
                </div>
                <div class="column is-3">
                    <h1 class="title">Pot Count</h1>
                    <p class="subtitle">{{ "{0:,}".format(user.plant_limit) }}</p>
                </div>
            </div>
            <hr />
        {% endif %}

        {# Add the checkout stuff #}
        <div class="columns is-multiline">
            <div class="column is-6 is-offset-3" style="text-align: center;">

                {# Say if we're subbed #}
                {% if has_premium and not premium_expiring %}
                    <h1 class="title">You are currently subscribed to Premium</h1>
                {% elif premium_expiring %}
                    <h1 class="title">Your premium subscription will end on <span id="premium-end-time">{{ user.premium_expiry_time }}</span></h1>
                    <script type="text/javascript">
                        var field = document.getElementById("premium-end-time");
                        var time = new Date({{ user.premium_expiry_time }} * 1_000);
                        var options = { dateStyle: 'long', timeStyle: 'long' };
                        field.innerHTML = time.toLocaleDateString(undefined, options);
                    </script>
                {% else %}
                    <h1 class="title">Subscribe to Premium</h1>
                    <h1 class="title"><b>£3.00</b> monthly</h1>
                {% endif %}

                {# Describe the perks #}
                <hr />
                <p>Subscribing to Flower Premium directly helps out with the running and development of Flower, as well as giving you some cool perks!</p>
                <br />
                <ul style="list-style: inside;">
                    <li>A x2 exp multiplier every time you water your plants</li>
                    <li>The ability to change your new pot colour</li>
                    <li>Access to the <code>showall</code> command</li>
                    <li>Up to <b>{{ app['bots']['bot'].config['plants']['hard_plant_cap'] }}</b> plants</li>
                </ul>
                <hr />

                {# Show the relevant buttons #}
                {% if has_premium and not premium_expiring %}
                    <button
                            class="button is-danger"
                            onclick="fetch('/unsubscribe', {method: 'POST', body: JSON.stringify({product_name: 'Flower Premium'})})"
                            style="width: 50%; height: 3em;" >
                        Unsubscribe
                    </button>

                {% else %}
                    <script src="https://js.stripe.com/v3/"></script>
                    <section class="stripe-payment" style="margin-bottom: 5px;">
                        <button type="button" id="stripe-checkout-button">Subscribe with Stripe</button>
                    </section>
                    <script type="text/javascript">
                    var stripe = Stripe("pk_live_0Fx3FqHVF6tDXipvuUxdSDeu00egEyOnyO");
                    document.getElementById("stripe-checkout-button").onclick = () => {
                        fetch("https://voxelfox.co.uk/webhooks/stripe/create_checkout_session", {
                            method: "POST",
                            body: JSON.stringify({
                                product_name: "Flower Premium",
                                discord_user_id: "{{ session.user_id }}",
                            }),
                        }).then(function (response) {
                            return response.json();
                        }).then(function (session) {
                            return stripe.redirectToCheckout({ sessionId: session.id });
                        }).then(function (result) {
                            if (result.error) {
                                alert(result.error.message);
                            }
                        }).catch(function (error) {
                            console.error("Error:", error);
                        });
                    };
                    </script>

                    <script src="https://www.paypal.com/sdk/js?client-id=AZrQypK2Od7C44Y1JgQAStWunNw7puFjVx0ako0rCOl2zJWuRpMNnm35uvxMCsPa-vNmJFAiHq-o0q61&vault=true"></script>
                    <div class="paypal-button" id="paypal-plan-container-P-5C533545H17816407MC6TYSY"></div>
                    <script>
                        paypal.Buttons({
                            style: {
                                label: 'subscribe',
                                color: 'gold',
                                tagline: false,
                                layout: 'horizontal',
                            },
                           createSubscription: function(data, actions) {
                                return actions.subscription.create({
                                   'plan_id': 'P-5C533545H17816407MC6TYSY',
                                   'custom_id': JSON.stringify({discord_user_id: "{{ session.user_id }}"}),
                                });
                            },
                            onApprove: function(data, actions) {
                                alert(data.subscriptionID);
                            }
                        }).render('#paypal-plan-container-P-5C533545H17816407MC6TYSY');
                    </script>

                {% endif %}

            </div>
        </div>

    </div>
</section>
{%- endblock content -%}
