{% extends "base.html.j2" %}

{%- block content -%}
<section>
    <div class="container">

        {# Add the user data #}
        {% if session.logged_in %}
            <div class="columns" style="text-align: center;">
                <div class="column is-3 is-offset-3">
                    <h1 class="title">User Experience</h1>
                    <p id="experience" class="subtitle">{{ "{0:,}".format(user.user_experience or 0) }}</p>
                </div>
                <div class="column is-3">
                    <h1 class="title">Pot Count</h1>
                    <p class="subtitle">{{ "{0:,}".format(user.plant_limit) }}</p>
                </div>
            </div>
            <hr />
        {% endif %}

        {# Add our support schpiel #}
        {# <div class="columns" style="text-align: center;">
            <div class="column is-6 is-offset-3">
                <p>The most effective way that you can support the development of Flower is by donating! Your money will go to hosting the bot and to adding new flowers into the shop through artist commissions. Thank you in advance!</p>
            </div>
        </div>
        <hr /> #}

        {# Add the checkout stuff #}
        {# <div class="columns is-multiline">
            <div class="column is-4 is-offset-4" style="text-align: center;">
                <h1 class="title">Purchase Experience</h1>
                <p>Experience can be used for purchasing flowers, pots, and various items to make your Flower experience more enjoyable!</p>
                <br />
                <h1 class="title"><b><span id="exp-amount" data-original="2000">X</span> exp</b> for <b>£<span id="money-amount" data-original="1">X</span></b></h1>

                <form action="/donate_confirm">
                    <div class="field">
                        <input style="width: 100%;" id="quantity-field" type="range" name="quantity" min="1" max="20" value="1" start="1" step="1" onload="updateDisplayText(this);" oninput="updateDisplayText(this);" />
                    </div>
                    <button class="button" type="submit" style="width: 100%;">Continue to purchase</button>
                </form>

            </div>
        </div>

        <hr /> #}

        {# Add the checkout stuff #}
        <div class="columns is-multiline">
            <div class="column is-4 is-offset-4" style="text-align: center;">
                <h1 class="title">Subscribe to Premium</h1>
                <h1 class="title"><b>£3.00</b> monthly</h1>

                <script src="https://js.stripe.com/v3/"></script>
                <section class="stripe-payment" style="margin-bottom: 5px;">
                    <button type="button" id="stripe-checkout-button">Subscribe with Stripe</button>
                </section>
                <script type="text/javascript">
                var stripe = Stripe("pk_live_0Fx3FqHVF6tDXipvuUxdSDeu00egEyOnyO");
                document.getElementById("stripe-checkout-button").onclick = () => {
                    fetch("https://voxelfox.co.uk/webhooks/stripe/create_checkout_session", {
                        method: "POST",
                        body: JSON.stringify({
                            product_name: "Flower Premium",
                            discord_user_id: "{{ session.user_id }}",
                        }),
                    }).then(function (response) {
                        return response.json();
                    }).then(function (session) {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }).then(function (result) {
                        if (result.error) {
                            alert(result.error.message);
                        }
                    }).catch(function (error) {
                        console.error("Error:", error);
                    });
                };
                </script>

                <script src="https://www.paypal.com/sdk/js?client-id=AZrQypK2Od7C44Y1JgQAStWunNw7puFjVx0ako0rCOl2zJWuRpMNnm35uvxMCsPa-vNmJFAiHq-o0q61&vault=true"></script>
                <div class="paypal-button" id="paypal-plan-container-P-5C533545H17816407MC6TYSY"></div>
                <script>
                    paypal.Buttons({
                        style: {
                            label: 'subscribe',
                            color: 'gold',
                            tagline: false,
                            layout: 'horizontal',
                        },
                       createSubscription: function(data, actions) {
                            return actions.subscription.create({
                               'plan_id': 'P-5C533545H17816407MC6TYSY'
                            });
                        },
                        onApprove: function(data, actions) {
                            alert(data.subscriptionID);
                        }
                    }).render('#paypal-plan-container-P-5C533545H17816407MC6TYSY');
                </script>

            </div>
        </div>

        {# The script needed to update the page content #}
        {# <script src="https://www.paypal.com/sdk/js?client-id=AZrQypK2Od7C44Y1JgQAStWunNw7puFjVx0ako0rCOl2zJWuRpMNnm35uvxMCsPa-vNmJFAiHq-o0q61&vault=true"></script>
        <script type="text/javascript" src="{{ static('support.js') }}"></script> #}

    </div>
</section>
{%- endblock content -%}
