{% extends "base.html.j2" %}

{%- block content -%}
<section>
    <div class="container">

        {# Add the user data #}
        <div class="columns">
            <div class="column is-3">
                <h1 class="title">User Experience</h1>
                <p id="experience" class="subtitle">{{ user.user_experience }}</p>
            </div>
            <div class="column is-3">
                <h1 class="title">Pot Count</h1>
                <p class="subtitle">{{ user.plant_limit }}</p>
            </div>
            <div class="column is-3">
                <h1 class="title">Inventory</h1>
                {%- for item_name, amount in inventory.items() -%}
                    <p class="subtitle">{{ amount }}x {{ item_name }}</p>
                {%- endfor -%}
            </div>
        </div>
        <hr />

        {# Add the plants #}
        <div class="columns is-multiline" style="align-items: flex-end;">

            {# Go through and add each plant to the mix #}
            {%- for plant in plants -%}
                <div class="column is-3 plant">
                    <div class="columns" style="align-items: flex-end;">

                        {# Plant image #}
                        <div class="column is-narrow" style="padding: 0;">
                            <img src="data:image/png;base64,{{ plant.image_data }}" style="width: 5em;">
                        </div>

                        {# Plant data #}
                        <div class="column">
                            <h1 class="title">{{ plant.plant_name }}</h1>
                            <p class="subtitle" style="margin-bottom: 0;">{{ plant.plant_type.capitalize().replace("_", " ") }}</p>

                            {# Add nourishment if it's still alive #}
                            {%- if plant.plant_nourishment >= 0 -%}
                                <p>Plant nourishment: <span class="nourishment">{{ plant.plant_nourishment }}</span></p>
                            {%- else -%}
                                <p>Plant is dead :(</p>
                            {%- endif -%}

                            {# Add water button #}
                            <button class="button is-primary is-light" {% if plant.plant_nourishment >= 0 %}onclick="waterPlant(this);"{% else %}disabled{% endif %}>Water</button>

                            {# Add delete button #}
                            <button class="button is-danger is-light" onclick="unhideModal(this);">Delete</button>

                            {# Delete "are you sure" modal #}
                            <div class="modal" style="text-align: center;" data-plant-name="{{ plant.plant_name }}">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <h1 class="title">Are you sure you want to delete your plant?</h1>
                                    <h2 class="subtitle">You won't see {{ plant.plant_name }} again :c</h2>
                                    <button class="button is-danger is-light" onclick="deletePlant(this).then(() => deletePlantDom(this));">Delete</button>
                                    <button class="button is-primary is-light" onclick="hideModal(this);">Cancel</button>
                                </div>
                                <button class="modal-close is-large" onclick="hideModal(this);" aria-label="close"></button>
                            </div>

                        </div>
                    </div>

                    {# Add the progress bar if the plant is still alive #}
                    {%- if plant.plant_nourishment >= 0-%}
                        <progress class="progress is-success" value="{{ plant.plant_nourishment / 21 }}" max="1"></progress>
                    {%- else -%}
                        <progress class="progress" value="{{ -plant.plant_nourishment / 21 }}" max="1"></progress>
                    {%- endif -%}

                </div>
            {%- endfor -%}
        </div>

        {# The script needed to send the post requests to the website #}
        <script type="text/javascript" src="{{ static('water.js') }}"></script>

    </div>
</section>
{%- endblock content -%}
