{% extends "base.html.j2" %}

{# Enable the buttons for the website #}
{%- block bodyattrs -%}onload="setupWaterButtonTimeout();"{%- endblock -%}

{# The OG description tag #}
{%- block ogdescription -%}Water your Discord plants from your browser!{%- endblock -%}

{%- block content -%}

{# The script needed to send the post requests to the website #}
<script type="text/javascript" src="{{ static('water.js') }}"></script>

{# And now for some actual content #}
<section>
    <div class="container">

        {# Add the user data #}
        <div class="columns">
            <div class="column is-3">
                <h1 class="title">User Experience</h1>
                <p id="experience" class="subtitle">{{ "{0:,}".format(user.user_experience or 0) }}</p>
            </div>
            <div class="column is-3">
                <h1 class="title">Pot Count</h1>
                <p class="subtitle">{{ "{0:,}".format(user.plant_limit) }}</p>
            </div>
            <div class="column is-3 inventory">
                <h1 class="title">Inventory</h1>
                {%- for item_name, amount in inventory.items() -%}
                    <p class="subtitle">{{ "{0:,}".format(amount) }}x {{ item_name }}</p>
                {%- endfor -%}
            </div>

            {# Add the pot colour filter #}
            <div class="column is-3" style="padding: 0; display: flex; flex-direction: column;">
                {% set pot_hue = (user.plant_pot_hue if user.plant_pot_hue is not none else user.user_id % 360) - 28 %}
                <img
                    class="pot-image"
                    src="{{ static('full_cropped.png') }}"
                    style="width: 100px; margin:  8px auto 0 auto; filter: hue-rotate({{ pot_hue }}deg);" />
                <input
                    type="range"
                    id="hue"
                    name="hue"
                    min="0"
                    max="360"
                    value="{{ pot_hue }}"
                    oninput="changePlantColour(this);"
                    onload="setTimeout(changePlantColour, 100, this);"
                    {% if not user_has_premium %}disabled{% endif %} />
                <button
                        style="margin-top: 5px;"
                        onclick="submitPlantColourChange(); return false;"
                        {% if not user_has_premium %}disabled{% endif %} >
                    Change new pot colour {% if not user_has_premium %}- requires premium{% endif %}
                </button>
            </div>

        </div>
        <hr />

        {# Add the plants #}
        <div class="columns is-multiline" style="align-items: flex-end;">

            {# Go through and add each plant to the mix #}
            {%- for plant in plants -%}
                <div class="column is-3 plant">
                    <div class="columns" style="align-items: flex-end;">

                        {# Plant image #}
                        <div class="column is-narrow" style="padding: 0;">
                            <img class="plant-image" src="data:image/png;base64,{{ plant.image_data }}">
                        </div>

                        {# Plant data #}
                        <div class="column">
                            <h1 class="title">{{ plant.plant_name }}</h1>
                            <p class="subtitle" style="margin-bottom: 0;">{{ plant.plant_type.capitalize().replace("_", " ") }}</p>

                            {# Add nourishment if it's still alive #}
                            {%- if plant.plant_nourishment >= 0 -%}
                                <p>Plant nourishment: <span class="nourishment">{{ plant.plant_nourishment }}</span></p>
                            {%- else -%}
                                <p>Plant is dead :(</p>
                            {%- endif -%}

                            {# Add water button #}
                            {% if plant.plant_nourishment >= 0 %}
                                <button class="button is-primary is-light water-button" data-base-disable-time="{{ base_water_timeout }}" data-disable-time="{{ plant.wait_water_seconds }}" onclick="waterPlant(this);" disabled>Water</button>
                            {% else %}
                                <button class="button is-link is-light revive-button" {% if inventory['Revival Token'] > 0 %}onclick="revivePlant(this).then((x) => {if(x){location.reload()}});"{% else %}disabled{% endif %}>Revive</button>
                            {% endif %}

                            {# Add delete button #}
                            <button class="button is-danger is-light base-delete-button" onclick="unhideDeleteModal(this);">Delete</button>

                            {# <input type="range" id="colour" name="colour" min="-360" max="360" value="{{ plant.plant_pot_hue }}" onchange="changePlantColour(this);" /> #}

                            {# Delete button's "are you sure" modal #}
                            <div class="modal" style="text-align: center;" data-plant-name="{{ plant.plant_name }}">
                                <div class="modal-background"></div>
                                <div class="modal-content">
                                    <h1 class="title">Are you sure you want to delete your plant?</h1>
                                    <h2 class="subtitle">You won't see {{ plant.plant_name }} again :c</h2>
                                    <button class="button is-danger is-light delete-button" onclick="deletePlant(this).then(() => deletePlantDom(this));" disabled>Delete</button>
                                    <button class="button is-primary is-light" onclick="hideDeleteModal(this);">Cancel</button>
                                </div>
                                <button class="modal-close is-large" onclick="hideDeleteModal(this);" aria-label="close"></button>
                            </div>

                        </div>
                    </div>

                    {# Add the progress bar if the plant is still alive #}
                    {%- if plant.plant_nourishment >= 0 -%}
                        <progress class="progress nourishment-progress is-success" value="{{ plant.plant_nourishment / 21 }}" max="1"></progress>
                    {%- else -%}
                        <progress class="progress nourishment-progress" value="{{ -plant.plant_nourishment / 21 }}" max="1"></progress>
                    {%- endif -%}

                    {# Add the progress bar if the plant is still alive #}
                    {%- if plant.plant_nourishment >= 0 -%}
                        <progress class="progress water-progress is-info" value="{{ base_water_timeout - plant.wait_water_seconds }}" max="{{ base_water_timeout }}"></progress>
                    {%- else -%}
                        <progress class="progress water-progress" value="{{ base_water_timeout - plant.wait_water_seconds }}" max="{{ base_water_timeout }}"></progress>
                    {%- endif -%}

                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
{%- endblock content -%}
