{% extends "main.j2" %}

{%- block content -%}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-narrow">
                <h1 class="title">User Experience</h1>
                <p class="subtitle">{{ user.user_experience }}</p>
            </div>
            <div class="column is-narrow">
                <h1 class="title">Pot Count</h1>
                <p class="subtitle">{{ user.plant_limit }}</p>
            </div>
        </div>
        <div class="columns" style="align-items: flex-end;">
            {%- for plant in plants -%}
                <div class="column is-3">
                    <div class="columns" style="align-items: flex-end;">
                        <div class="column is-narrow" style="padding: 0;">
                            <img src="data:image/png;base64,{{ plant.image_data }}" style="width: 5em;">
                        </div>
                        <div class="column">
                            <h1 class="title">{{ plant.plant_name }}</h1>
                            <p class="subtitle">{{ plant.plant_type.capitalize().replace("_", " ") }}</p>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>
{%- endblock content -%}
