{% extends "base.html.j2" %}

{%- block content -%}
<section>
    <div class="container">
        <div class="columns">
            <div class="column is-narrow">
                <h1 class="title">User Experience</h1>
                <p id="experience" class="subtitle">{{ user.user_experience }}</p>
            </div>
            <div class="column is-narrow">
                <h1 class="title">Pot Count</h1>
                <p class="subtitle">{{ user.plant_limit }}</p>
            </div>
            <div class="column is-narrow">
                <h1 class="title">Inventory</h1>
                {%- for item in inventory -%}
                    <p>{{ item.amount }} {{ item.item_name }}</p>
                {%- endfor -%}
            </div>
        </div>
        <hr />
        <div class="columns is-multiline" style="align-items: flex-end;">
            {%- for plant in plants -%}
                <div class="column is-3 plant">
                    <div class="columns" style="align-items: flex-end;">
                        <div class="column is-narrow" style="padding: 0;">
                            <img src="data:image/png;base64,{{ plant.image_data }}" style="width: 5em;">
                        </div>
                        <div class="column">
                            <h1 class="title">{{ plant.plant_name }}</h1>
                            <p class="subtitle" style="margin-bottom: 0;">{{ plant.plant_type.capitalize().replace("_", " ") }}</p>
                            {%- if plant.plant_nourishment >= 0 -%}
                                <p>Plant nourishment: <span class="nourishment">{{ plant.plant_nourishment }}</span></p>
                            {%- else -%}
                                <p>Plant is dead :(</p>
                            {%- endif -%}
                            {%- if plant.plant_nourishment >= 0-%}
                                <button class="button is-primary is-light" onclick="water_plant(this);">Water Plant</button>
                            {%- endif -%}
                        </div>
                    </div>
                    {%- if plant.plant_nourishment >= 0-%}
                        <progress class="progress is-success" value="{{ plant.plant_nourishment / 21 }}" max="1"></progress>
                    {%- else -%}
                        <progress class="progress" value="{{ -plant.plant_nourishment / 21 }}" max="1"></progress>
                    {%- endif -%}
                </div>
            {%- endfor -%}
        </div>
        <script type="text/javascript" src="{{ static('water.js') }}"></script>
    </div>
</section>
{%- endblock content -%}
