{% extends "main.j2" %}

{%- block content -%}
<section class="section">
    <div class="container">
        <h1 class="title">{{ bot_name }}</h1>
        <p class="subtitle">{{ user_id }}</p>
    </div>
</section>
{%- endblock content -%}
