{% extends "base.html.j2" %}

{%- block content -%}
<section>
    <div class="container" style="text-align: center;">
        <h1 class="title">Flower for Discord</h1>
        <p class="subtitle">Care for virtual plants right in your Discord server!</p>
        <hr />
        <p class="subtitle">Flower is a cute lil bot made for taking care of plants right from Discord. Usage is simple, getting started is easy, and it's super easy to share and show off with your friends!</p>
        <p class="subtitle"><a href="{{ invite_link }}">Invite the bot to your server!</a></p>
        <p class="subtitle"><a href="{{ vote_link }}">Vote on Top.gg!</a></p>
        <img src="https://voxelfox.co.uk/static/images/flower/commands.png" />
        <hr />
        <h1 class="title">Reviews</h1>
        <img src="https://voxelfox.co.uk/static/images/flower/reviews/1.png" />
        <img src="https://voxelfox.co.uk/static/images/flower/reviews/2.png" />
        <img src="https://voxelfox.co.uk/static/images/flower/reviews/3.png" />
        <img src="https://voxelfox.co.uk/static/images/flower/reviews/4.png" />
        <img src="https://voxelfox.co.uk/static/images/flower/reviews/5.png" />
        <img src="https://voxelfox.co.uk/static/images/flower/reviews/6.png" />
        <img src="https://voxelfox.co.uk/static/images/flower/reviews/7.png" />
    </div>
</section>
{%- endblock content -%}
