{% extends "base.html.j2" %}

{%- block content -%}
<section>
    <div class="container">

        {# Add the user data #}
        <div class="columns">
            <div class="column is-3">
                <h1 class="title">User Experience</h1>
                <p id="experience" class="subtitle">{{ "{0:,}".format(user.user_experience or 0) }}</p>
            </div>
            <div class="column is-3">
                <h1 class="title">Pot Count</h1>
                <p class="subtitle">{{ "{0:,}".format(user.plant_limit) }}</p>
            </div>
            <div class="column is-3 inventory">
                <h1 class="title">Inventory</h1>
                {%- for item_name, amount in inventory.items() -%}
                    <p class="subtitle">{{ "{0:,}".format(amount) }}x {{ item_name }}</p>
                {%- endfor -%}
            </div>
        </div>
        <hr />

        {# Add the plants #}
        <div class="columns is-multiline" style="align-items: flex-end;">

            {# Go through and add each plant to the mix #}
            {%- for plant in shop_items -%}
                <div class="column is-3 plant" data-plant-name="{{ plant.name }}">
                    <div class="columns" style="align-items: flex-end;">

                        {# Plant data #}
                        <div class="column">
                            <h1 class="title" style="margin-bottom: 5px;">{{ plant.display_name.title() }}</h1>
                            <button class="button is-primary is-light" onclick="buyPlant(this);">Buy ({{ "{0:,}".format(plant.required_experience) }} exp)</button>
                        </div>

                    </div>
                </div>
            {%- endfor -%}
        </div>

        {# The script needed to send the post requests to the website #}
        <script type="text/javascript" src="{{ static('water.js') }}"></script>

    </div>
</section>
{%- endblock content -%}
