{% extends "base.html.j2" %}

{%- block content -%}
<section>
    <div class="container">

        {# Add the user data #}
        <div class="columns" style="text-align: center;">
            <div class="column is-3 is-offset-3">
                <h1 class="title">User Experience</h1>
                <p id="experience" class="subtitle">{{ "{0:,}".format(user.user_experience) }}</p>
            </div>
            <div class="column is-3">
                <h1 class="title">Pot Count</h1>
                <p class="subtitle">{{ "{0:,}".format(user.plant_limit) }}</p>
            </div>
        </div>
        <hr />

        {# Add our support schpiel #}
        <div class="columns" style="text-align: center;">
            <div class="column is-6 is-offset-3">
                <p>The single most effective way that you can support the development of Flower is to donate to its hosting. Of course, we wouldn't ask for that with nothing in return, so what we have is an option to donate in exchange for exp!</p>
            </div>
        </div>
        <hr />

        {# Add the checkout stuff #}
        <div class="columns is-multiline">
            <div class="column is-4 is-offset-4" style="text-align: center;">
                <h1 class="title">Buying <b>{{ "{0:,}".format(2_000 * item_quantity) }} exp</b> for <b>£{{ "{0:,.2f}".format(1.00 * item_quantity) }} GBP</b>{% if item_discount %} (with £{{ "{0:,.2f}".format(item_discount) }} discount){% endif %}</h1>
                <h2 class="subtitle">Click below to checkout</h2>

                <div id="smart-button-container">
                    <div style="text-align: center;">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=GBP" data-sdk-integration-source="button-factory"></script>
                <script type="text/javascript">
                    function initPayPalButton(itemQuantity, itemDiscount) {
                        paypal.Buttons({
                            style: {
                                shape: 'rect',
                                color: 'gold',
                                layout: 'horizontal',
                                label: 'paypal',
                                tagline: false,
                            },
                            createOrder: function(data, actions) {
                                return actions.order.create({
                                    items: [
                                        {
                                            name: "Flower 2000 EXP",
                                            sku: 2001,
                                            currency_code: "GBP",
                                            unit_amount: 1.00,
                                            category: "DIGITAL_GOODS",
                                            quantity: itemQuantity,
                                        },
                                    ],
                                    purchase_units: [
                                        {
                                            description: "Flower EXP",
                                            amount: {
                                                currency_code: "GBP",
                                                value: (1.00 * itemQuantity) - itemDiscount,
                                                breakdown: {
                                                    item_total: {currency_code: "GBP", value: 1.00 * itemQuantity},
                                                    discount: {currency_code: "GBP", value: itemDiscount},
                                                }
                                            },
                                        },
                                    ]
                                });
                            },
                            onApprove: function(data, actions) {
                                return actions.order.capture().then(function(details) {
                                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                });
                            },
                            onError: function(err) {
                                console.log(err);
                            }
                        }).render('#paypal-button-container');
                    }
                    initPayPalButton({{ item_quantity }}, {{ item_discount }});
                </script>

            </div>
        </div>

    </div>
</section>
{%- endblock content -%}
