{% extends "base.html.j2" %}

{%- block content -%}
<section>
    <div class="container">

        {# Add the user data #}
        <div class="columns" style="text-align: center;">
            <div class="column is-3 is-offset-3">
                <h1 class="title">User Experience</h1>
                <p id="experience" class="subtitle">{{ "{0:,}".format(user.user_experience) }}</p>
            </div>
            <div class="column is-3">
                <h1 class="title">Pot Count</h1>
                <p class="subtitle">{{ "{0:,}".format(user.plant_limit) }}</p>
            </div>
        </div>
        <hr />

        {# Add our support schpiel #}
        <div class="columns" style="text-align: center;">
            <div class="column is-6 is-offset-3">
                <p>The single most effective way that you can support the development of Flower is to donate to its hosting. Of course, we wouldn't ask for that with nothing in return, so what we have is an option to donate in exchange for exp!</p>
            </div>
        </div>
        <hr />

        {# Add the checkout stuff #}
        <div class="columns is-multiline">
            <div class="column is-4 is-offset-4" style="text-align: center;">
                <h1 class="title"><b>2,000 exp</b> for <b>£1.00 GBP</b></h1>

                <form action="/support_paypal">
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-static" style="color: grey;">Exp x2,000 Quantity</a>
                        </p>
                        <p class="control">
                            <input class="input" type="number" name="quantity" min="1" max="100" value="1" />
                        </p>
                    </div>
                    <input type="image" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png" alt="Buy now with PayPal" />
                </form>

            </div>
        </div>

    </div>
</section>
{%- endblock content -%}
